@model MonitoringPelanggan.Models.Pemohonan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pemohonan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoKk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoKk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPenuh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPenuh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kelayakan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kelayakan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPetugasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPetugasNavigation.IdPetugas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
